body{
    background-color: aliceblue;
}

.container{
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.site-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.pokemon-item{
    background-color: white;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 8px grey;
    margin-bottom: 20px;
    transition: 0.5s;
}

.pokemon-item:hover{
    box-shadow: 0 0 10px rgb(95, 196, 255);
    border-radius: 20px;
    transform: translateX(10px);
}